body {
  background-image: url("https://images7.alphacoders.com/133/1330312.png");
  background-position: center;
  background-size: cover;
}

.buttonSubmit {
  /* background: #5D17A4!important; */
  background: #2f528f !important;
}

/* Form.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 70vh;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
  backdrop-filter: blur(8px);
}
